body {
    background: #f1f1f1;
}

.header {
    margin-bottom: 19px;
    font-family: Calibri;
    font-size: 56px;
    color: #F3EFE4;
    background-color: #30302E;
    text-align: center;
}

ul {
    text-align: center;
    font-family: Calibri;
    font-size: 29px;
    color: gray;
}

h1 {
    margin-top: 11px;
    margin-bottom: 11px;
    font-family: Calibri;
    font-size: 47px;
    font-weight: bold;
    text-align: justify;
    color: #DB2E27;
    text-align: center;
}

h2 {
    padding-top: 19px;
    margin-top: 11px;
    margin-bottom: 11px;
    font-family: Calibri;
    font-size: 38px;
    font-weight: bolder;
    color: #DB2E27;
    text-align: left;
}

h3 {
    margin-top: 11px;
    margin-bottom: 11px;
    font-family: Calibri;
    font-size: 19px;
    color: #7DB2B6;
    text-align: inherit;
}

h4 {
    margin-top: 11px;
    margin-bottom: 11px;
    font-family: Calibri;
    font-size: 19px;
    color: #000000;
    text-align: inherit;
}

img {
    box-shadow: 11px 11px 4px lightgrey;
    margin-left: auto;
    margin-right: auto;
}

p {
    padding-top: 29px;
    padding-left: 29px;
    text-align: left;
    font-family: Calibri;
    font-size: 19px;
    color: #000000;
    font-weight: normal;
}

.post {
    margin-top: 50px;
    margin-right: 11px;
    margin-left: 11px;
  }

.navbar {
    padding: 11px;
    background: #B32525;
    position: relative;
}

.navbar li {
    display: inline-block;
    padding: 19px;
    margin-right: 11px;
    margin-left: 11px;
    cursor: pointer;
    background:#F3EFE4;
    border-radius: 4px;
  }
  
.navbar li a {
    color: #30302E;
    text-decoration: none;
  }

.dropdown-options {
    background:#F3EFE4;
    font-family: Calibri;
    font-size: 17px;
    color: #000000;
    display: inline-block;
    padding: 0px;
    cursor: pointer;
    border-radius: 7px;
    }
  
.navbar button {
    margin-top: 11px;
    margin-bottom: 11px;
    font-family: Calibri;
    font-size: 19px;
    color: #7DB2B6;
    text-align: inherit;
}

.large_graphic {
    width: 335px;
    height: 335px;
    float: left;
    padding-top: 11px;
    margin-left: 19px;
    margin-right: 19px;
  }

.medium_graphic {
    width: 290px;
    height: 290px;
    float: left;
    padding-top: 29px;
    margin-left: 4px;
    margin-right: 11px;
}

.small_graphic {
    width: 190px;
    height: 190px;
    padding-top: 7px;
    padding-right: 7px;
  }

.box_one {
    background-color: #F3EFE4;
    padding:30px;
    margin-left:5px;
    margin-right:5px;
    float: left;
    position: relative;
    margin-top: 29px;
}

.box_two {
    background-color: #F3EFE4;
    padding: 30px;
    float: right;
    position: relative;
    margin-top: 29px;
}

th, td {
    border-bottom: 1px solid #DB2E27;
    height: 19px;
    padding: 11px;
    text-align: left;
    font-family: Calibri;
    font-size: 19px;
}

tr:nth-child(even) {
    background-color: #F3EFE4;
}

tr:hover {
    background-color: #96D5D4;
}